<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Technology Blog</title>
    {{!-- <link rel="stylesheet" href='/public/style.css' /> --}}
  </head>

  <body>
    <header>
        <h1>The Tech Blog</h1>
        <nav>
          <a>Home</a>
          {{#if loggedIn}}
          <a href="dashboard">Dashboard</a>
          <button type="button" id="logout-button">Sign Out</button>
          {{else}}
          <a href="/login">Sign In</a>
          {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

  </body>

  {{#if loggedIn}}
  <script src="./js/logout.js"></script>
  {{/if}}
</html>