<h2>{{user.dataValues.username}}'s Dashboard</h2>
<a href="/create" id="createPost">Create Blog Post</a>
{{#each serialized as |post|}}
<div>
    <h3>{{post.title}}</h3>
    <p>{{post.contents}}</p>
    <p>{{post.date_created}}</p>
</div>
{{/each}}
{{#unless serialized}}
<h3>You haven't made any posts yet!</h3>
{{/unless}}