{{#each serPostData as |post|}}
<div>
    <h2>{{post.title}}</h2>
    <h3>By, {{post.user.username}}</h3>
    <p>{{post.contents}}</p>
    <p>{{post.date_created}}</p>
</div>
{{/each}}
{{#unless serPostData}}
<h2>No Posts Yet!</h2>
{{/unless}}

