<div>
    <h2>New Blog Post</h2>
    <form>
        <label for="newTitle">Title: </label>
        <input type="text" id="newTitle">
        <label for="newPost">Contents: </label>
        <input type="text" id="newPost">
        <button type="submit" id="submitPost">Submit</button>
    </form>

    <script src="/js/newPost.js"></script>
</div>