<div>
    <h2>Update Post</h2>
    <form>
        <label for="updatePost">Update Post Contents: </label>
        <input type="text" id="updatePost" value="{{post.contents}}">
        <button type="button" id="saveUpdate" data-postId="{{post.id}}">Save</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>